# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
generated_plugin_registrant.dart

# Android
local.properties
*.iml
.gradle/
.idea/
*.hprof

# iOS
Pods/
Podfile.lock
.flutter-plugins
.flutter-plugins-dependencies
Generated.xcconfig

# Miscellaneous
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.class
*.jar
*.war
*.ear
*.db
*.apk
*.ap_
*.zip
*.out
*.o
*.a
*.obj
*.app
*.bak
*.old
*.orig
*.pyc
*.pyo
*.ser
*.class
*.dll
*.exe
*.pdb
*.suo
*.user
*.chm
*.deploy
*.iso
*.manifest
*.mdf
*.sdf
*.sqlite
